body {
    background-color: black;
    color: yellow;

}
.btn{
    padding: 0.5rem;
    color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: dotted;
}

.btn:hover {
    color: rgb(250, 250, 120);
    border-color: rgb(250, 250, 120);
    /* -webkit-box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84);
    -moz-box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84);
    box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84); */
}

.shy:hover{
    -webkit-box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84);
    -moz-box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84);
    box-shadow: 0px 10px 89px 1px rgba(242,255,0,0.84);
    transition: 0.3s ease;
}

input{
    padding: 0.5rem;
    background-color: transparent;
    color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: dotted;
}

hr {
    border-top: 1px dashed yellow;
}

table ,th, td {
    border-width: 2px;
    border-color: yellow;
    border-style: dotted;
}

.err_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.error{
    transition: filter 0.3s ease;
    width: 300px;
    height: 150px;
    padding: 1rem;
    position: relative;
    color: red;
    border-color: red;
    border-style: dashed;
    border-width: 2px;
    margin: auto;
    margin-top: 20%;
    
    background-color: rgba(0, 0, 0, 0.6);
}

.error button {
    padding: 0.5rem;
    color: red;
    border-color: red;
    border-width: 2px;
    border-style: dotted;
    position: absolute;
    bottom: 12px;
    right: 12px;
}